flask==3.0.3
gunicorn==23.0.0

numpy<2
opencv-python-headless==4.9.0.80
ultralytics

# Use CPU-only PyTorch
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
torchvision==0.17.2+cpu
